.uploader_file
{
	display: inline-block;
	width: 300px;
	height: 150px;
	margin: 4px 22px 14px 4px;
	z-index: 100;
	position: relative;
    background-color: #eeeeee;
    border: 1px solid #808080;
    text-align: center;
}

.uploader_file img
{
    margin: 0 auto !important;
}
.uploader_close
{
	border: 1px solid #5e5e5e;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: -2px;
	width: 12px;
	height: 12px;
	background: url(http://i.sdska.ru/_img/system/default/themes/frameworks/jquery/plupload/x.png) #FFFFFF;
}

.uploader_highlight
{
	margin-left: 4px;
	margin-right: 20px;
	display: inline-block;
	width: 200px;
	height: 130px;
	border: 1px solid #ababab;
	z-index: 100;
	position: relative;
}

.uploader_button
{
	margin: 4px;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	width: 300px;
	height: 150px;
	border: 1px solid #ababab;
	background: #ffffff url(http://i.sdska.ru/_img/system/default/themes/frameworks/jquery/plupload/photo.png) no-repeat center 30px;
	z-index: 100;
	position: relative;
}

.button_in_action
{
	background: #ffffff url(http://i.sdska.ru/_img/system/default/themes/frameworks/jquery/ajax/loader-huge.gif) no-repeat center 20px;
}


.uploader_button_text
{
	display: inline-block;
	margin-top: 60px;
	color: #ababab;
	border-bottom: 1px dashed #ababab;
}

.uploader_container
{
	padding-top: 15px;
}

.uploader_container .first-photo-board
{
	position: absolute;
	top: 0;
	width: 100px;
	height: 115px;
	background-color: #d0eced;
	color: #48847c;
	font-size: 9px;
	z-index: 1;
}

.uploader_container .first-photo-board .padd{
	padding: 5px;
	font-size: 9px !important;
}

.uploader_container .tip
{
	font-size: 9px;
	color: #d3d3d3;
}